@font-face {
   font-family: 'PlayfairDisplay-VariableFont_wght';
   font-display: swap;
   src: url('file:///F:/My%20Artworks_/4.%20WEB/2022/Mobirise%205/3.%20Julio/8%20de%20Julio%20(regreso%20a%20Mobirise%20V5)%202/Proyecto/fonts/PlayfairDisplay-VariableFont_wght/font.ttf');
}
