@font-face {
   font-family: 'CormorantGaramond-Regular';
   font-display: swap;
   src: url('file:///C:/Users/adoar/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-10-24_010602/fonts/CormorantGaramond-Regular/font.ttf');
}
