@font-face {
   font-family: 'CormorantGaramond-Regular';
   font-display: swap;
   src: url('file:///K:/MY%20ARTWORKS/4.%20WEB/2022/Mobirise%205/4.%20Octubre/22.%20octubre/Proyecto/fonts/CormorantGaramond-Regular/font.ttf');
}
